<div class="ideas-body">
    <div class="ideas-title">
        <h2>New Ideas!</h2>
    </div>
    <p>Here you can enter new activities, settings, and characters to be used
        in Improv scenes.</p>
    <div class="newideas">
        <div class="activity-idea">
            <label for="newactivity">Activity</label>
            <input type="text" id="newactivity">
            <button class="ideabutton">Enter New Idea</button>
        </div>
        <div class="character-idea">
            <label for="newcharacter">Character</label>
            <input type="text" id="newcharacter">
            <button class="ideabutton">Enter New Idea</button>
        </div>
        <div class="setting-idea">
            <label for="newsetting">Setting</label>
            <input type="text" id="newsetting">
            <button class="ideabutton">Enter New Idea</button>
        </div>
    </div>
</div>