<div class="body">
    <div class="title">
        <h2>New Ideas!</h2>
    </div>
    <p>Here you can enter new activities, settings, and characters to be used
        in Improv scenes.</p>
    <div class="newideas">
        <div class="activity-idea">
            <label for="newactivity">Activity</label>
            <input type="text" id="newactivity" [(ngModel)]="activity" class="ideainput" maxlength="40">
            <button class="ideabutton" (click)="addActivity()">Enter New Idea</button>
            <small *ngIf=actMessage class="text-notice">
                <span> {{actMessage}}</span>
            </small>
        </div>
        <div class="character-idea">
            <label for="newcharacter">Character</label>
            <input type="text" id="newcharacter" [(ngModel)]="character" class="ideainput" maxlength="25">
            <button class="ideabutton" (click)="addCharacter()">Enter New Idea</button>
            <small *ngIf=charMessage class="text-notice">
                <span> {{charMessage}}</span>
            </small>
        </div>
        <div class="setting-idea">
            <label for="newsetting">Setting</label>
            <input type="text" id="newsetting" [(ngModel)]="setting" class="ideainput" maxlength="40">
            <button class="ideabutton" (click)="addSetting()">Enter New Idea</button>
            <small *ngIf=setMessage class="text-notice">
                <span> {{setMessage}}</span>
            </small>
        </div>
    </div>
</div>